/* Media */
@media (max-width: 768px) {
	.synopsis {
		width: 100%;
		margin: 0 auto;
	    background: #f7f7f7;
	    padding: 3.33rem 2.66rem;
	}

	.synopsis p {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 1.66em;
	}
}