/**
 * The Memorial Tournament Rain Index
 *
 * This is a site I created based on weather information provided 
 * on The Memorial Tournaments website
 * 
 * created by Daniel Warren (danielwarren.io)
 * @dl_warren Instagram
 *
 */
/* ==========================================================================
  Variables
  ========================================================================== */
/* Rain % variables
	========================================================================== */
/* ==========================================================================
   Basics
   ========================================================================== */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-size: 120%; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

header {
  padding: 3.66em 0;
  text-align: center;
  border-bottom: solid 1px #ccc;
  margin-bottom: 3em;
  background: #0C6045; }

footer {
  padding: 3.66em 0;
  margin-top: 3em;
  background: #0C6045; }

.foot-container {
  text-align: center; }

h1 {
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff; }

h2 {
  font-size: 2em;
  font-family: 'Parisienne', sans-serif;
  color: #D37F54; }

h3 {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 700; }

.about {
  text-align: center; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a {
  color: #222;
  text-decoration: none; }

.about-link {
  color: #D37F54; }

a:visited {
  text-decoration: none;
  color: none; }

footer a:hover {
  text-decoration: none;
  color: #ccc; }

i a:hover {
  color: #ccc; }

a:focus, a:hover, a:active {
  text-decoration: none;
  color: #222; }

/*  Color variable classes
 	========================================================================== */
.main-color {
  background: #0C6045; }

.secondary-color {
  background: #333333; }

.third-color {
  background: #12375E; }

/* ==========================================================================
   Classes
   ========================================================================== */
.container {
  width: 90%;
  margin: 0 auto; }

.text-container {
  width: 66%;
  margin: 0 auto 2em auto;
  background: #efefef;
  clear: both; }

.text {
  padding: 1.5em 3em 3em 3em; }

.row {
  width: 100%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #333333; }

.graph-rain-tourney {
  width: 70%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #12375E;
  float: left; }

.hover {
  opacity: 1; }

.graph-dry-tourney:hover .hover {
  opacity: 1; }

.graph-dry-tourney {
  width: 30%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.graph-rain-days {
  width: 35%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #12375E;
  float: left; }

.graph-dry-days {
  width: 65%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.graph-rain-thurs {
  width: 23%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #12375E;
  float: left; }

.graph-dry-thurs {
  width: 77%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.graph-rain-fri {
  width: 33%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #12375E;
  float: left; }

.graph-dry-fri {
  width: 67%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.graph-rain-sat {
  width: 48%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #12375E;
  float: left; }

.graph-dry-sat {
  width: 52%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.graph-dry-sun {
  width: 67%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.graph-rain-sun {
  width: 33%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #12375E;
  float: left; }

.rain-tiger {
  width: 100%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.rain-kenny {
  width: 100%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.rain-jack {
  width: 100%;
  padding: 3.66em 0;
  margin-bottom: 2em;
  text-align: center;
  background: #0C6045;
  float: left; }

.grandslam {
  width: 50%;
  padding: 3.66em 0;
  float: left; }

.inner-text {
  color: #fff;
  font-size: 3em;
  font-weight: 800;
  margin: 0 25px;
  text-align: center; }

.hide {
  display: none; }

.layer:hover .hide {
  display: block; }

.layer:hover .main {
  display: none; }

/* ==========================================================================
   Social Media & Icons
   ========================================================================== */
i {
  color: #D37F54;
  margin: 0 .33em; }

.arrow-back {
  position: absolute;
  top: 35px;
  left: 2.5%; }

.material-icons {
  font-size: 2em;
  border: 2px solid #D37F54;
  border-radius: 50%; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1200px) {
  /*.rain-tourney, .dry-tourney, .rain-days, .dry-days, .rain-thurs, .dry-thurs, .rain-fri, .dry-fri, .rain-sat, .dry-sat, .rain-sun, .dry-sun*/
  [class^="graph-"] {
    width: 50%;
    padding: 3.66em 0;
    margin-bottom: 2em;
    text-align: center; } }
@media (max-width: 900px) {
  .inner-text {
    font-size: 2.33em; }

  h1 {
    font-size: 3em; } }
@media (max-width: 650px) {
  h2 {
    font-size: 1.33em; }

  /*.rain-tourney, .dry-tourney, .rain-days, .dry-days, .rain-thurs, .dry-thurs, .rain-fri, .dry-fri, .rain-sat, .dry-sat, .rain-sun, .dry-sun*/
  [class^="graph-"] {
    width: 100%;
    padding: 3.66em 0;
    margin-bottom: 2em;
    text-align: center; }

  .inner-text {
    font-size: 2em; }

  .text {
    padding: 1.33em; }

  .text-container {
    width: 100%; }
    .text-container h3 {
      padding: 1.5em 1em 1.5em 1; }
      .text-container h3 p {
        padding: 0; } }
@media (max-width: 495px) {
  .small {
    display: block; } }

/*# sourceMappingURL=style.css.map */
